.forgetWrapper{
    width: 700px;
    height: 386px;
    background: #F9F9F9;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    margin: 60px auto 100px auto;
}
.emailLabel{
    font-family: Poppins sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    /* black */

    color: #23262F;
    padding-left: 60px;

}
